{% extends 'main.html.twig' %}
 {% block body  %}

    <section class="neuf_section mt-5">
     what is neww
    </section>

<section class="cat_section mt-5">
  <div class="container">
    <h2 class="text-center mb-5 fw-bold">Les categories</h2>
    <div class="row">
      {% for cat in categories %}
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="card h-100 shadow-sm hover-scale">
            <img src="/images/ins.jpg" class="card-img-top" alt="{{ cat.nomCat }}">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ cat.nomCat }}</h5>
              <p class="card-text">{{ cat.descCat|u.truncate(80, '...') }}</p>
              <a href="{{ path('produit_par_categories', {'id': cat.id}) }}" class="btn btn-primary mt-auto">Voir produits</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="text-center mt-3">
      <a href="{{ path('main_categories') }}" class="btn btn-outline-secondary m-3">Voir toutes les catégories</a>
    </div>
  </div>
</section>




<section class="produit_section mt-5">
  <div class="container">
    <h2 class="text-center mb-5 fw-bold">Tous les Produits</h2>
    <div class="row g-4">
      {% for produit in produits|slice(0,6) %}
         {% include 'produit_card.html.twig' with { produit: produit } %}
       {% endfor %}
    </div>

    <div class="text-center mt-3">
      <a href="{{ path('main_produit') }}" class="btn btn-outline-secondary m-3">Voir tous les produits</a>
    </div>
  </div>
</section>

  <section class="marque_vedettes mt-5">
    <div class="container">
      <h2 class="text-center mb-4">Marques Vedettes</h2>
      <div class="marque_vedettes_card">
        <div class="brand-image">
          <img src="/images/ins.jpg" class="img-fluid" alt="Brand 1" />
        </div>
        <div class="brand_desc">
          <p>
            Ceci est une description exemple de la marque vedette.
          </p>
        </div>
        <div class="brand_btn">
          <button class="btn_voir_plus">Voir</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Product Modal -->
{% include 'produit_modal.html.twig' %}
  {% endblock  %}